.offers_block p{
    margin: 0;
}

.offers_block{
    margin-bottom: 150px;
    background-color: var(--maincolor);
    max-width: 465px;
    width: 100%;
    max-height: 671px;
    height: 100%;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 35px 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 10px 41.5px -6px var(--maincolor);
    color: white;
    row-gap: 47px;
}

.txt_title_blocks{
    font-weight: bold;
    font-size: 24px;
    padding-right: 16px;
}

.subtitle_offers{
    margin-top: 10px;
    width: 341px;
    text-align: center;
    font-size: 18px;
    font-weight: medium;
}

.price_block{
    width: 375px;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    flex-direction: column;
    margin-left: 15px;
}

.price{
    font-size: 48px;
    font-weight: bold;
    padding-right: 9px;
}

.price2 img{
    transform: translate(-50px,-38px) rotate(2deg);
    -webkit-transform: translate(-50px,-38px) rotate(2deg);
    -moz-transform: translate(-50px,-38px) rotate(2deg);
    -ms-transform: translate(-50px,-38px) rotate(2deg);
    -o-transform: translate(-50px,-38px) rotate(2deg);
    width: 380px;
}

.time_price{
    font-size: 24px;
    font-weight: bold;
}

.dollar{
    position: absolute;
    top: 5px;
    left: -15px;
    font-size: 20px;
    font-weight: bold;
}

.operators_img{
    width: 341px;
    height: 58px;
    border-radius: 62px;
    -webkit-border-radius: 62px;
    -moz-border-radius: 62px;
    -ms-border-radius: 62px;
    -o-border-radius: 62px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 38px;
    margin-top: 5px;
}

.operators_title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.buy_now {
    margin-top: 15px;
}

.buy_now button{
    background-color: white;
    color: var(--maincolor);
    font-size: 24px;
    font-weight: bold;
    width: 241px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 46px;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    -ms-border-radius: 46px;
    -o-border-radius: 46px;
    border: 0;
    box-shadow: 0px 5px 11.4px 5px rgba(0,0,0,25%);
}

@media only screen and (max-width:1550px) {
    .txt_title_blocks{
        font-size: 20px;
    }
    .subtitle_offers{
        font-size: 16px;
    }
    .offers_block{
        width: 430px;
        height: 620px;
        row-gap: 20px;
    }
    .price{
        font-size: 40px;
    }
    .price2 img{
        width: 370px;
        transform: translate(-50px,-38px);
        -webkit-transform: translate(-50px,-38px);
        -moz-transform: translate(-50px,-38px);
        -ms-transform: translate(-50px,-38px);
        -o-transform: translate(-50px,-38px);
    }
}

@media only screen and (max-width:1399px){
    .offers_block{
        row-gap: 10px;
    }
}

@media only screen and (max-width:530px) {
    .txt_title_blocks{
        font-size: 20px;
    }
    .subtitle_offers{
        font-size: 14px;
    }
    .offers_block{
        width: 400px;
        height: 560px;
        row-gap: 0px;
    }
    .price{
        font-size: 30px;
    }
    .operators_img{
        width: 230px;
        min-width: fit-content;
        gap: 14px;
        height: 45px;
    }
    .buy_now button{
        font-size: 20px;
        width: 180px;
        height: 55px;
    }
    .price_block{
        row-gap: 25px;
    }
    .price2 img{
        width: 300px;
        transform: translate(-40px,-39px);
    }
    .operators_title{
        font-size: 20px;
    }
    .time_price{
        font-size: 20px;
    }
}

@media only screen and (max-width:440px) {
    .txt_title_blocks{
        font-size: 18px;
    }
    .subtitle_offers{
        font-size: 14px;
        padding: 0 10px;
    }
    .offers_block{
        width: 350px;
        height: 530px;
        row-gap: 0px;
    }
    .price{
        font-size: 28px;
    }
    .time_price{
        font-size: 17px;
    }
    .operators_img{
        width: 230px;
        min-width: fit-content;
        gap: 14px;
        height: 45px;
    }
    .buy_now button{
        font-size: 18px;
        width: 150px;
        height: 49px;
    }
    .price_block{
        height: 200px;
        row-gap: 15px;
    }
    .price2 img{
        width: 270px;
        transform: translate(-40px,-30px);
    }
    .operators_title{
        font-size: 20px;
    }
}