.subpoint_block{
    display: flex;
    column-gap: 10px;
    margin-top: 5px;
}

.img_subpoint img{
    width: 25px;
    height: 25px;
}

.subpoint_text{
    max-width: 460px;
    width: 100%;
    font-size: 20px;
    font-weight: medium;
}

@media only screen and (max-width:1200px) {
    .subpoint_block{
        justify-content: center;
    }
    .subpoint_text{
        font-size: 18px;
    }
    .img_subpoint img{
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width:610px) {
    .subpoint_text{
        font-size: 16px;
        padding-top: 1px;
    }
    .img_subpoint img{
        width: 18px;
        height: 18px;
    }
}

@media only screen and (max-width:440px) {
    .subpoint_text{
        font-size: 14px;
    }
    .img_subpoint img{
        width: 15px;
        height: 15px;
    }
}

@media only screen and (max-width:395px) {
    .subpoint_block{
        justify-content: start;
        margin-top: 15px;
    }
}