.subpoint_block_dashboard{
    display: flex;
    column-gap: 10px;
}

.subpoint_block_tech{
    display: flex;
    column-gap: 10px;
}

.img_subpoint_dashboard img , .img_subpoint_tech img{
    width: 25px;
    height: 25px;
}

.subpoint_text_dashboard {
    max-width: 460px;
    width: 100%;
    font-size: 20px;
    font-weight: medium;
}

.subpoint_text_tech{
    font-size: 20px;
    font-weight: medium;
}

.asterisk_dash , .asterisk_tech{
    display: none;
}

@media only screen and (min-width: 1930px) {
    .subpoint_block_dashboard{
        display: flex;
        column-gap: 10px;
    }
    
    .subpoint_block_tech{
        display: flex;
        column-gap: 10px;
    }
    
    .img_subpoint_dashboard img , .img_subpoint_tech img{
        width: 35px;
        height: 35px;
    }  
    .subpoint_text_dashboard {
        max-width: 800px;
        width: 100%;
        font-size: 30px;
    }
    .subpoint_text_tech {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1199px) {
    .subpoint_block_dashboard {
        justify-content: center;
    }
    .subpoint_text_dashboard {
        font-size: 18px;
    }
    .img_subpoint_dashboard img {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width: 1170px) {
    .subpoint_block_tech {
        justify-content: center;
    }
    .subpoint_text_tech {
        font-size: 18px;
    }
    .img_subpoint_tech img {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width: 642px) {
    .img_subpoint_tech img {
        display: none;
    }
    .asterisk_tech{
        display: inline-block;
    }
}

@media only screen and (max-width: 610px) {
    .subpoint_text_dashboard, .subpoint_text_tech{
        font-size: 16px;
        padding-top: 1px;
    }
    .img_subpoint_dashboard img ,.img_subpoint_tech img{
        width: 18px;
        height: 18px;
    }
}

@media only screen and (max-width: 510px) {
    .subpoint_text_tech{
    font-size: 14px;
}

}

@media only screen and (max-width: 440px) {
    .subpoint_text_dashboard {
        font-size: 14px;
    }
    .img_subpoint_dashboard img {
        width: 15px;
        height: 15px;
    }
}

@media only screen and (max-width: 395px) {
    .subpoint_block_dashboard ,  .subpoint_block_tech{
        justify-content: start !important;
        text-align: start;
    }
    .img_subpoint_dashboard img {
        display: none;
    }
    .asterisk_dash{
        display: inline-block;
    }
}