.features_block{
    width: 410px;
    height: 180px;
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    box-shadow: 0px 0px 30px 1px rgba(119, 0, 255, 0.25);
    color: var(--maincolor);
}

.img_features img{
    width: 40px;
    height: 40px;
}

.content_features{
    display: flex;
    padding: 19px;
    align-items: start;
}

.text_features{
    padding-left: 10px;
    padding-top: 7px;
}

.title_features{
    font-size: 22px;
    font-weight: bold;
}

.subtitle_features{
    font-size: 18px;
    font-weight: normal;
    margin-top: 5px;
    max-width: 321px;
    width: 100%;
}

@media only screen and (min-width:2000px) {
    .features_block{
        width: 550px;
        height: 220px;
    }
    
    .img_features img{
        width: 60px;
        height: 60px;
    }
    
    .title_features{
        font-size: 30px;
    }
    
    .subtitle_features{
        font-size: 22px;
        max-width: 440px;
        width: 100%;
    }
}

@media only screen and (max-width:970px) {
.features_block{
        width: 335px;
        height: 190px;
    }
    .title_features{
        font-size: 19px;
    }
    
    .subtitle_features{
        font-size: 16px;
    }
    .img_features img{
        width: 35px;
        height: 35px;
    }
}

@media only screen and (max-width:767px) {
    .features_block{
        width: 400px;
        height: 180px;
    }
    .title_features{
        font-size: 22px;
    }
    
    .subtitle_features{
        font-size: 18px;
    }
    .img_features img{
        width: 40px;
        height: 40px;
    }
}



@media only screen and (max-width:530px) {
    .features_block{
        width: 350px;
    }
    .title_features{
        font-size: 20px;
    }
    
    .subtitle_features{
        font-size: 16px;
    }
    .img_features img{
        width: 35px;
        height: 35px;
    }
}

@media only screen and (max-width:390px) {
    .features_block{
        width: 300px;
        height: 160px;
        margin: 0 20px;
    }
    .title_features{
        font-size: 16px;
    }
    
    .subtitle_features{
        font-size: 14px;
    }
    .img_features img{
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width:330px) {
    .features_block{
        width: 250px;
        height: 170px;
    }
    .title_features{
        font-size: 14px;
    }
    
    .subtitle_features{
        font-size: 13px;
    }
    .img_features img{
        width: 25px;
        height: 25px;
    }
}