a{
    text-decoration: none;
}

.container_header{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 47px 0;
}

.navbar-brand{
    display: flex;
    height: 50px;
}

.navbar-brand img{
    width: 40px;
    height: 40px;
}

.navbar-brand .txt_logo{
    font-size:25px ;
    font-weight: bold;
    color: var(--maincolor);
    padding-top: 15px;
    padding-left: 10px;
}

.registere button{
    background-color: var(--maincolor);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.registere:hover button{
    background-color: var(--mainanother);
}

.txt_register , .txt_register p {
    height: 22px;
    padding-left: 5px;
    margin: 0 !important;
}

.txt_login,.txt_login p{
    height: 22px;
}

.login button{
    width: 80px;
    height: 40px;
    background-color: white;
    color: var(--maincolor);
    border: 2px solid var(--maincolor);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.login:hover button{
    background-color: var(--maincolor);
    color: white;
}

.log_register{
    display: flex;
}

.buttons{
    display: flex;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    column-gap: 30px;
}


@media only screen and (max-width:1450px) {
    .registere button{
        width: 150px;
    }
    .nav-link{
        font-size: 16px !important;
    }
}

@media only screen and (max-width:1350px) {
    .navbar-brand .txt_logo{
        font-size: 20px;
    }
    .nav-link{
        font-size: 16px !important;
    }
    .registere button,.login button{
        font-size: 14px;
        height: 35px;
        margin-top: 5px;
    }
    .menu{
        column-gap: 13px;
    }
}

@media only screen and (max-width:1350px) {
    .registere button,.login button{
        font-size: 16px;
        height: 40px;
        margin-top: 0;
    }
    .registere{
        margin-right: 5px !important;
    }
    .log_register{
        margin-right: 5px;
    }
}

@media only screen and (max-width:730px) {
    .log_register{
        display: none !important;
    }
}

@media only screen and (max-width:470px) {  
    .navbar{
        padding: 20px 10px 0;
    }
}

/* @media only screen and (max-width:425px) {  
    .navbar-toggler{
        display: none !important;
    }
} */

@media only screen and (max-width:380px) {  
   .txt_logo{
    font-size: 16px !important;
    padding-left: 5px !important;
   }
}

@media only screen and (max-width:330px) {  
    .txt_logo{
        display: none !important;
    }
}