a{
    text-decoration: none;
}

.container_header{
    transition: all 0.3s ease-in-out;
    height: 116px;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 47px 0;
}

.navbar-brand{
    display: flex;
    height: 50px;
}

.navbar-brand img{
    width: 40px;
    height: 40px;
}

.navbar-brand .txt_logo{
    font-size:25px ;
    font-weight: bold;
    color: var(--maincolor);
    padding-left: 10px;
}

.nav-item a{
    font-size: 20px;
    font-weight: bold;
    color: var(--maincolor);
}

.nav-link {
    position: relative;
    color: var(--maincolor);
    text-decoration: none;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--maincolor);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 100%;
    background-color: var(--hovermain);
}

.nav-link:hover {
    color: var(--hovermain);
}

.button_register{
    margin-right: 5px !important;
}

.button_register button{
    background-color: var(--maincolor);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.button_register:hover button{
    background-color: var(--mainanother);
}

.button_login p {
    margin: 0 !important;
}

.button_register p{
    height: 22px;
    margin: 0 !important;
    padding-left: 5px;
}

.dark .button_login button{
    background-color: #121212;
}

.button_login button{
    width: 80px;
    height: 40px;
    background-color: white;
    color: var(--maincolor);
    border: 2px solid var(--maincolor);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.button_login:hover button{
    background-color: var(--maincolor);
    color: white;
}

.log_register{
    display: flex;
}

.buttons{
    display: flex;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    column-gap: 30px;
}

@media only screen and (min-width:2000px) {  
    .txt_logo{
        font-size: 35px !important;
    }
    .navbar-brand img{
        width: 50px !important;
        height: 50px !important;
    }
    .nav-link{
        font-size: 27px !important;
    }
    .button_login button,
    .button_register button{
        font-size: 25px;
    }
    .button_login button{
        width: 150px;
        height: 50px;
    }
    .button_register button{
        width: 250px;
        height: 50px;
    }
    .button_register img{
        width: 35px;
    }
    .button_register p{
        margin-top: -15px !important;
    }
}

@media only screen and (max-width:1350px) {
    .button_register button{
        width: 150px;
    }
    .nav-link{
        font-size: 16px !important;
    }
}

@media only screen and (max-width:1350px) {
    .button_register button{
        width: 150px;
    }
    .nav-link{
        font-size: 18px !important;
    }
    .navbar{
        padding: 30px 10px 0;
    }
}

@media only screen and (max-width:1199px) {
    .menu{
        padding-top: 20px;
        padding-right: 20px;
        align-items: end !important;
    }
    .button_login{
        margin-right: 5px;
    }
}

@media only screen and (max-width:730px) {
    .button_register , .button_login{
        display: none !important;
    }
}

@media only screen and (max-width:490px) { 
    .container_header{
        margin: 0 !important;
        padding: 0 !important;
    } 
    .navbar{
        padding: 30px 0px 0;
    }
}

@media only screen and (max-width:440px) {  
   .txt_logo{
    font-size: 18px !important;
    padding-left: 5px !important;
   }
}

@media only screen and (max-width:331px) {  
    .txt_logo{
        display: none !important;
    }
}

