#root{
  --maincolor: #7C3AED;
  --hovermain : #8750e7;
  --mainanother : #7B00D3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

.container{
  max-width: 1920px;
}


