p {
    margin: 0;
    padding: 0;
}

.for_wrap_tech {
    column-gap: 60px;
}

.container_tech {
    color: var(--maincolor);
}

.tech_title {
    font-size: 50px;
    font-weight: bold;
}

.title_tech {
    font-size: 30px;
    font-weight: 500;
    max-width: 465px;
    width: 100%;
    will-change: opacity, transform;
}

.subtitle_tech {
    font-size: 24px;
    padding-top: 10px;
    will-change: opacity, transform;
}

.contact_us_button_tech button,
.contact_us_button_tech a {
    max-width: 220px;
    width: 100%;
    height: 60px;
    background-color: var(--maincolor);
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 14px;
}

.col_gap_tech {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    max-width: 720px;
    width: 100%;
}

.subpoints_container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.card_footer_img {
    max-width: 480px;
    width: 100%;
    max-height: 432px;
    height: max-content;
    background-color: var(--maincolor);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_tech img {
    will-change: opacity, transform;
}

@media only screen and (max-width: 1199px) {
    .container_tech {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .for_wrap_tech {
        row-gap: 30px;
    }
    .col_gap_tech {
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }
    .title_tech {
        max-width: 100%;
        font-size: 29px;
    }
    .subtitle_tech {
        font-size: 20px;
    }
    .card_footer_img {
        height: auto;
    }
}

@media only screen and (max-width: 650px) {
    .title_tech {
        font-size: 25px;
    }
    .subtitle_tech {
        font-size: 18px;
    }
}

@media only screen and (max-width: 530px) {
    .tech_title {
        font-size: 40px;
    }
    .title_tech {
        font-size: 22px;
    }
    .subtitle_tech {
        font-size: 16px;
    }
}

@media only screen and (max-width: 440px) {
    .tech_title {
        font-size: 35px;
    }
    .title_tech {
        font-size: 20px;
    }
    .subtitle_tech {
        padding: 10px 20px 0;
        font-size: 16px;
    }
    .contact_us_button_tech button,
    .contact_us_button_tech a {
        width: 170px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 390px) {
    .tech_title {
        font-size: 24px;
    }
    .title_tech {
        font-size: 18px;
    }
    .subtitle_tech {
        padding: 10px 20px 0;
        font-size: 14px;
    }
    .contact_us_button_tech button,
    .contact_us_button_tech a {
        width: 170px;
        font-size: 14px;
    }
}
