.offerblock{
    height: 730px;
    margin-top: 20px;
}

.text_title_offer{
    font-size: 50px;
    color: var(--maincolor);
    font-weight: bold;
}

@media only screen and (min-width:2000px) {
    .offerblock{
        height: 850px;
    }
    .text_title_offer{
        font-size: 60px;
    }
}

@media only screen and (max-width:1399px) {
   .offerblock{
       height: 640px;
    }
    .text_title_offer{
        font-size: 50px;
    }
}

@media only screen and (max-width:530px) {
    .offerblock{
       height: 580px;
    }
    .text_title_offer{
    font-size: 40px;
    }
}

@media only screen and (max-width:440px) {
    .offerblock{
        height: 550px;
    }
    .text_title_offer{
        font-size: 35px;
    }
}

@media only screen and (max-width:390px) {
    .offerblock{
        height: 512px;
    }
    .text_title_offer{
        font-size: 24px;
    }
}
 

@media only screen and (max-width:350px) {
    .offerblock{
        height: 480px;
    }

}

@media only screen and (max-width:310px) {
    .offerblock{
        height: 430px;
    }
    .text_title_offer{
        font-size: 20px;
    }
}

